@charset "utf-8";
/* CSS Document */

.FL{ float:left}
.FR{float: right;}
body{
	padding:0px;
	margin:0px;
	font-family:微软雅黑;
	background:url(bg.html) top center repeat-y #FFF;
}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;font-family:微软雅黑;font-size:16px;}

.wz,.wz td,.wz td p,.wz p,.wz td div,.wz div,.wz span{font-family:"微软雅黑";line-height:28px; color:#000000}
ul,li{ padding:0px; margin:0px; list-style:none}
ul{ padding:0px; margin:0px;}

a {text-decoration:none; color:#000}
a:hover{ color:#00b9f1 !important;text-decoration:none;}	
h1,h2,h3,h4,h5,p,span{ padding:0px; margin:0px;}
img{ border:none;} 
body, td, div, input, a{
	font-size: 13px;
	text-decoration: none;
	font-family: "微软雅黑";}
.body_1440{ width:100%; max-width:1440px; margin:0 auto;}
.body_1182{ width:100%; max-width:1182px; margin:0 auto;}
.body_1002{ width:1002px; margin:0 auto;}
.clear{clear:both;}
.top1{ background:url(../img/header1/top_bg.jpg) repeat-x bottom; height:95px;}
.top2{ height:60px; width:100%;}	

.logo{ float:left;}
.top_right{ padding-top:30px; float:right; padding-right:50px; position:relative}
.xtp{ vertical-align:middle;}
.top_lb{ height:55px; line-height:55px;float:right; }



.mid_wz{  float:left; line-height:22px; padding-top:30px; padding-left:17px; }
.pro{ background:url(../img/index/mid_probg.jpg) bottom no-repeat #fff; height:266px;}
.mid2{ padding-top:40px;}
.foot{ background:#086ac1;; height:80px; clear:both;}
.foot_1{ width:182px; float:left;}
.foot_1_logo{ padding-top:16px;}
.foot_1_lxfs{ padding-top:10px;}

.foot_ewm{border-left:1px solid #3c8ace; margin-top:50px; padding-left:43px;  float:left;}

/*首页滚动*/

.hpic .hd{ overflow:hidden;}
.hpic .hd .prev,.hpic .hd .next{ display:block;overflow:hidden; cursor:pointer;width:24px;position:absolute; z-index:999;top:0px;}
.hpic .hd .prev{ left:-1px; }
.hpic .bd{ margin-left:25px;display:block; }
.hpic .bd ul{ overflow:hidden; zoom:1; width:1202px; }
.hpic .bd ul li{ margin:0px; _display:inline; overflow:hidden;}
.new_nr1{ line-height:17px;}
.both{ clear:both;}
.foot2{ height:43px; background:#22469a; color:#FFF; line-height:43px;}
.foot2 a{ color:#FFF;}
.rt_tit{color:#003c82;font-size:22px;font-family:微软雅黑;}
.lt_tit{border-bottom:1px #d9d9d9 solid;padding-left:10px;height:52px; line-height:52px;color:#023e84;font-size:24px;font-weight:bold;font-family:微软雅黑;}
.bg_nov0{background:url(../img/news/bg_nov0.gif) left center no-repeat;height:44px; line-height:44px;padding-left:26px;}
.bg_nov0, .bg_nov0 a{color:#777777;font-size:16px;font-family:微软雅黑;}
.bg_nov1{background:url(../img/news/bg_nov1.gif) left center no-repeat;height:45px; line-height:45px;padding-left:26px;}
.bg_nov1, .bg_nov1 a{color:#FFF;font-size:16px;font-weight:bold;font-family:微软雅黑;}
.wr_not{width: 70%;padding-top:20px;}

.pd_gk, .pd_gkl{padding-top:100px;}
.pd_gk{float: right;}
.pd_gkl{float: left;}
.pd_gk div{text-align:right;}
.pd_gkl div{text-align:left;}
.pd_rt_en, .pd_rt_cn{color:#616161;font-size:30px;font-weight:bold;font-family:微软雅黑;text-transform:uppercase;}
.pd_rt_cn{margin-bottom:10px;}
.pd_rt_cn2{color:#616161;font-size:27px;font-family:微软雅黑;}
.pd_rt_cn3{color:#616161;font-size:20px;font-family:微软雅黑;margin-bottom:24px;}
/*@media (min-width:600px) and (max-width: 1200px)  { 
.body_1182{ width:100%; max-width:1002px; margin:0 auto;}
.top_bt{ padding:0px 38px; font-size:15px; font-family:微软雅黑; color:#5a5a5a; float:left;}
.top_bt a{font-size:15px; font-family:微软雅黑; color:#5a5a5a; }
.banner_js{ height:97px; border:1px solid #e0e2df; background:#FFF; width:822px; position:absolute; left:50%; margin-left:-411px; bottom:15px;}
.hpic{ overflow:hidden; position:relative; height:254px; margin:0 auto; width:1002px;}
.hpic .hd .next{ right:0px; }
.new_nr{ width:317px; float:left; }
.new_nr2{ float:left; width:317px;}
.banner{ height:412px;position:relative; background:url(banner2.jpg) no-repeat #f8f8f8;} 
.mid2_left{ width:519px; float:left;}
.mid2_bt{ font-family:微软雅黑; color:#014286; font-size:22px;}
.mid2_xwzx{ width:519px; height:352px; margin-top:14px;}
.mid2_box1{ width:274px; border-left:4px solid #cececc; border-top:4px solid #cececc; padding-top:21px; padding-left:14px; height:222px; float:left; }
.mid2_box1_wz{ width:255px;line-height:20px;}
.mid2_box2{ width:219px; height:243px; float:left; border-right:4px solid #cececc;border-top:4px solid #cececc;}
.mid2_box2 img{ width:219px; height:247px;}
.mid2_box3{ width:519px; float:left;}
.mid2_box3 img{ padding-left:1px; width:102px;}
.mid2_right{ width:440px; float:right;}
.mid2_tpxw{ margin-top:14px; width:440px; height:241px; position:relative;}
.mid2_tpxw img{ width:440px;}
.mid2_tpxw_bt{ background:url(sy_new_btbg.png) no-repeat; width:440px; height:36px; font-family:微软雅黑; font-size:14px; color:#FFF;position:absolute; bottom:0px; line-height:36px;}

.mid2_tpxw_bt a{font-family:微软雅黑; font-size:14px; color:#FFF; }
.mid2_ttxw{ width:440px; background:#ebebeb; height:85px;}
.mid2_ttxw_bt{ width:440px; font-family:微软雅黑; font-size:16px; padding-top:15px;}
.mid2_ttxw_wz{ width:420px;line-height:20px; color:#ababab; margin-left:13px; height:15px; padding-top:3px;}
.foot_mid{ width:619px;  float:left; padding-top:45px;margin-left:52px;}
.select{ width:60px; height:34px;}
.text{ width:200px; height:28px; }
.wzdt_box{ padding-right:27px; float:left;}
.wzbt_box_1{ float:left; font-family:微软雅黑; font-size:16px; color:#FFF; }
.wzbt_box_1 a{font-family:微软雅黑; font-size:16px; color:#FFF;}
.wzbt_box_2{ float:left; line-height:26px; padding-left:14px;font-family:微软雅黑; font-size:14px; color:#a2b1d5;}
.wzbt_box_2 a{font-family:微软雅黑; font-size:14px; color:#a2b1d5;}
.wzdt{ width:616px; float:left; padding-top:26px;}
.wr_not{width:785px; padding-top:20px;}
}

@media (min-width: 1200px) {*/
.banner_js{ height:97px; border:1px solid #e0e2df; background:#f7f7f7; width:1182px; position:absolute; left:50%; margin-left:-591px; bottom:0px; z-index:50;} 
/*.body_1182{ width:100%; max-width:1182px; margin:0 auto;}*/
.top_bt{ padding:0px 47px; font-size:15px; font-family:微软雅黑; color:#5a5a5a; float:left;}
.top_bt a{font-size:15px; font-family:微软雅黑; color:#5a5a5a; font-weight:900;letter-spacing:2px;}
.hpic{ overflow:hidden; position:relative; height:254px; margin:0 auto; width:1235px;}
.hpic .hd .next{ right:2px; }
.new_nr{ width:300px; float:left; cursor: pointer;}
.new_nr2{ float:left; width:294px;}	
.banner{ height:527px;position:relative;} 
.mid_tp2{ padding-right:12px; margin-left:22px;}
.mid2_left{width: 720px;float:left;}
.mid2_bt{ font-family:微软雅黑; color:#014286; font-size:22px;}
.mid2_xwzx{width: 720px;height:352px;margin-top:14px;}
.mid2_box1{width:359px;border-left:4px solid #cececc;border-top:4px solid #cececc;padding-top:36px;padding-left:14px;height: 230px;float:left;}
.mid2_box1_wz{ line-height:20px;}
.mid2_box2{width:301px;height: 246px;float:left;border-right:4px solid #cececc;border-top:4px solid #cececc;}
.mid2_box3{ width:682px; float:left;}
.mid2_box3 img{ padding-left:1px;}
.mid2_right{ width:452px; float:right;}
.mid2_tpxw{ margin-top:14px; width:451px; height:247px; position:relative;}
.mid2_tpxw_bt{ background:url(sy_new_btbg.png) no-repeat; width:451px; height:36px; font-family:微软雅黑; left:0px; font-size:16px; color:#FFF;position:absolute; bottom:0px; line-height:36px;}
.mid2_tpxw_bt a{font-family:微软雅黑; font-size:16px; color:#FFF; }
.mid2_ttxw{ width:451px; margin-top:6px; background:#ebebeb; height:99px; cursor:pointer;}
.mid2_ttxw_bt{ width:426px; font-family:微软雅黑; font-size:16px; padding-top:15px;}
.mid2_ttxw_wz{ width:548px;line-height:22px;height:99px; color:#888; }
.foot_mid{ width:789px;  float:left; padding-top:45px;margin-left:52px;}
.wzdt{ width:789px; float:left; padding-top:23px;}
.select{ width:100px; height:32px;font-size:16px;}
.text{ width:299px; height:28px;font-size:16px; line-height:28px;border:none;}
.wzdt_box{ padding-right:51px; float:left;}
.wzbt_box_1{ float:left; font-family:微软雅黑; font-size:16px; color:#FFF; }
.wzbt_box_1 a{font-family:微软雅黑; font-size:16px; color:#fff;}
.wzbt_box_2{ float:left; line-height:26px; padding-left:14px;font-family:微软雅黑; font-size:16px; color:#a2b1d5;padding-top: 5px;}
.wzbt_box_2 a{font-family:微软雅黑; font-size:16px; color:#a2b1d5;}
/*} */


/* home */

.ny_banner{ width:100%;max-width:1440px; background-position:top center; background-repeat:no-repeat;height:349px;}
.lic_not ul{ clear:both;margin-left:35px;}
.lic_not li{float:left;}
.lic_l{background:url(bg_lic_l.gif) left center no-repeat;}
.lic_r{background:url(bg_lic_r.gif) left center no-repeat;}
.lic_l div{text-align:right;padding-right:26px;font-family:微软雅黑; font-size:16px; color:#4d4d4d; line-height:20px;}
.lic_l, .lic_r{width:291px;height:66px; line-height:66px;}
.lic_r div{text-align:left;padding-left:26px;font-family:微软雅黑; font-size:16px; color:#4d4d4d; line-height:20px;}
.lic_dw{width:70px;}
.lic_tit{text-align:center;font-family:微软雅黑; font-size:17px; color:#5a5a5a; font-weight:bold;}
.bg_lic_dot{background:url(bg_lic_bor.gif) center center repeat-y;}
.lic_l:hover{background:url(bg_lic_l_ov.gif) left center no-repeat;}
.lic_l:hover div{color:#FFF;}
.lic_r:hover{background:url(bg_lic_r_ov.gif) left center no-repeat;}
.lic_r:hover div{color:#FFF;}
/*about_pd*/
.pd_gsjj{ height:549px; background:url(../img/qiyegaikuang/a_pd_1.jpg) no-repeat top; cursor:pointer;}
.pd_gsjj_bt{ padding-top:74px;font-family:微软雅黑; font-size:24px;font-weight:900;}
.gsjj{ padding-top:34px; line-height:26px; width:572px; font-family:微软雅黑; font-size:16px;}
.fzlc{ height:422px; background:url(fzlc.jpg) no-repeat top; cursor:pointer;}
.pd_jszc{ height:411px; background:url(jszc.jpg) no-repeat top; cursor:pointer;}
.jszc{ padding-top:104px; line-height:26px; font-family:微软雅黑; font-size:13px; width:390px; margin-right:35px;}
.jszc_bt1{ font-family:微软雅黑; font-size:23px; font-weight:bold; color:#5b5c5b; text-transform:uppercase;}
.jszc_bt2{  font-family:微软雅黑; font-size:24px; color:#013d85; padding-top:5px;}
.pd_cqfm{ background:url(cqfm.jpg) no-repeat top; height:363px;}
/**/

/*hr_pd*/
.pd_rcln{ background:url(rcln.jpg) no-repeat; height:441px;}
.rcln{ padding-top:134px; line-height:26px; font-family:微软雅黑; font-size:13px; width:680px;  cursor:pointer;}
.ygfl{ padding-top:30px;font-family:微软雅黑; font-size:16px; color:#003d86;}
.xwyd{ background:url(xwyd.jpg) no-repeat; height:501px;  }
.xwyd_gd{ float:left; padding-top:327px;}
.xwyd_zw{ float:right; padding-top:58px;}
.pd_mszj{ height:291px; background:url(mszj.jpg) no-repeat top; cursor:pointer;}
.mszj{ padding-top:56px;} 

/**/
.ny{ padding-top:20px;}
.qyjj_1{  height:73px;background:url(qyjj_tp.jpg) no-repeat top;}
.qyjj_2{ line-height:22px; font-family:微软雅黑; font-size:13px;padding-top:20px;}


/*home*/
.slide{width:452px;height:354px;float:left;overflow:hidden;}
.slide .slide-pic{width:453px;height:352px;float:left;overflow:hidden;}
.slide .slide-pic .pic{width:452px;height:352px;float:left;position:relative;z-index: 20;}
.slide .slide-pic .pic img{width:330px;height: 250px;}
.slide .slide-pic .pic span{display:block;height:39px;width:330px;color:#fff;bottom:99px;left:0px;position:absolute;text-align:center;line-height:36px;z-index:10; font-size:16px; background:url(sy_new_btbg.png) no-repeat;}
.slide .slide-pic .pic .wrap{display:block;position:absolute;bottom:0;left:0;height:23px;width:427px;z-index:9}
.slide .slide-thum{float:left;margin-left:7px;width:151px;height:332px;}
.slide .slide-thum .pageitem{width:151px;height:75px;margin-bottom:3px;*display:block;}
.slide .slide-thum .pageitemnow{width:147px;height:71px;border:2px solid #ca4032;}
.slide .slide-thum .pageitem img{width:151px;height:110px;}
.slide .slide-thum .pageitemnow img{width:147px;height:105px;}


.part-d{width:992px;height:303px;}
.slide{
	position: relative;
}
.slide .btn{position:absolute;width:15px;height:70px;cursor:pointer;z-index:99;font-size:50px;font-weight:bold;}
.slide .prev{left:0;background:url(../images/prevBtn.html) no-repeat;}
.slide #prevTop,.slide #nextTop{display:none;top:130px;width:42px;height:69px;background-image: url("../images/icon-slides.html");background-repeat: no-repeat;z-index: 100}
.slide .wrap-left,
.slide .wrap-right { width: 265px; height: 332px; top: 0; position: absolute; }
.slide .wrap-left:hover .btn { display: block; }
.slide .wrap-right:hover .btn { display: block; }
.slide .wrap-left { left: 0; }
.slide .wrap-right { right: 0; }
.slide #prevTop{background-position: 0px 0;}
.slide #nextTop{background-position: -42px 0;}
.slide .prevthum{left:0px;width:150px;position: absolute;height: 15px;top: 5px;}
.slide .nextthum{left:0px;width:150px;position: absolute;height: 15px;bottom: 24px;}
.slide .prevthum .thum-btn{background:url(../images/prevBtn.html);width: 70px;height: 15px;margin:0 auto;}
.slide .nextthum .thum-btn{background:url(../images/nextBtn.html);width: 70px;height: 15px;margin:0 auto;}

.slide .next{right:0;background:url(../images/nextBtn.html) no-repeat;}
.slide li{float:left;}
.slide .cf li{position:relative;color:#fff; background:#fff;}
.slide .cf span a{color:#fff}
.slide .picBox{height:352px;position:relative;overflow:hidden;}
.slide .picBox ul{height:352px;position:absolute;z-index: 10;}
.slide .picBox li{width:680px;height:352px;}
.slide .listBox{width:115px;;height:252px; right:0px;position:absolute; z-index:50;overflow:hidden;}
.slide .listBox ul{width:115px;position:absolute;}
.slide .listBox li{width:115px;height:85px;cursor:pointer;position:relative;float: left;}
.slide .listBox li i{display:none;}
.slide .listBox li a{display:block;width:115px;height:85px;}
.slide .listBox li img{width:114px; height:81px;}
.slide .listBox .on img{width:112px; height:79px;;border:1px solid #003d84;}
.slide .listBox .on i{display:block;}

/**/
/*pro*/

.proh{height:335px;}
.pro_tit{
	font-family:"微软雅黑";
	font-size:19px;
	color:#003c82;
	line-height:45px;
	height:45px;
	margin-bottom:16px;
	margin-top:26px;
}
.pro_tit img{ vertical-align:middle;}
.pro_not{ padding-top:30px;}
.pro_not, .pro_not div, .pro_not td{
	font-family:"微软雅黑";
	font-size:16px;
	color:#4d4d4d;
	line-height:26px;
}
.p_ts_not{
	font-family:"微软雅黑";
	font-size:15px;
	color:#000;
	line-height:26px;
	  padding-left: 20px;
  padding-right: 20px;
}
.p_ts_not span{
	font-size:30px;
	color:#0b4487;
}
.p_borL{border-left:1px #e0e0e0 solid;}
.pro_pctit{background:#eaeaea; border-bottom:1px #d9d9d9 solid;height:33px; text-align:center;font-family:"微软雅黑";font-size:18px;color:#000;}
.pro_g{border:1px #CCC solid; width:176px;height:118px; text-align:center;}
.pro_gtit{padding-top:6px; line-height:24px;font-family:"微软雅黑";font-size:13px;color:#000;}
.pro_borb{height:7px; border-bottom:1px #CCC solid;margin-bottom:45px;}
/**/

